*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    
}
body{
    height: 100vh;
    font: 1rem,Arial;
}
.container{
    display: grid;
    grid-template-areas: 'header','main','footer';
    grid-template-rows: 5rem 1fr 5rem; /* 1rem=10px(62.5%) */
    grid-template-columns: 1fr;
    height: 100%;
}
header{
    background-color: #abaaae;
    color: #ffffff;
    /* display flex in header becoz need to keep both logo and signin,cart in same line */
    display: flex;
    justify-content: space-between; /* space between to get logo in rt and other in left */
    align-items: center; /* put 50px in center */
    padding: 5px;
}
header a{
    color: #ffffff;
    font-style: Arial;
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
}
header a:hover{
    color: #e14f15;
}
.logo>img{
    width: 150px;
    }
footer{
    background-color: #abaaae;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 20px;
}
.card {
    text-align: center;
    border: rgb(65, 218, 59) solid 1px;
    padding: 1rem;
    width: 19rem;
    height: 25rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px #ea40e7
  }
  
  .prodImage {
    justify-self: center;
    height: 12rem;
    width: auto;
  }
  
  .activatedheart{
    color: red;
  }
  
  .rate{
    color: #ffc000;
  }